<div class = "consent">
	<input class="consentcheck" type= "checkbox" name= "consent_check" />
    <label for = "consent_check" class = "consent_title">Я подтверждаю согласие на передачу данных аккаунта amoCRM на сервера компании БИЗНЕС И СОФТ с целью обеспечения работоспособности виджета</label>
    <div class = "consent_error hidden" >Необходимо дать согласие на передачу данных</div>
</div>